h1,h2,p {
  text-align: center;
}

body {
  /*Se borró el valor anterior y se cambio por background-image, añadiendo una url de una imagen siendo asi, el fondo que representa la pagina, en este caso una imagen de grano de cafe :) */
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}
.menu {
  width: 80%;
  background-color: burlywood;
  /* Para centrar el #menu horizontalmente, añadimos el atributo margin, para los lados left y right, pero con el valor "auto" para que se ajuste por si solo */
  margin-left: auto;
  margin-right: auto;
}